<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>{{des}}</p>
        
        </div>
        {{>footer}}
    </body>
</html>